{% block content %}
<head>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
    	#img {
    		max-height: 720px; 
    		max-width: 720px;
    	}
    	p {
    		text-align: center;
    	}
    </style>
</head>

<body>
		<div class="navbar-fixed">

	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo center">Terminal</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="/">Home</a></li>
	        <li><a href="/encrypt">Hide Message</a></li>
	      </ul>
	    </div>
	</nav>
</div>
	<div class="container" id="img">
		<br>
		<div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" id="img" src="http://localhost:8000/media/{{ url }}"  >
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4" align="center" style="font-family: cursive;">Your Image Card<i class="material-icons right">more_vert</i></span>
		      <p class="flow-text">Click On The Card To Reveal The Secret Message</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4" align="center" style="font-family: cursive;">Your Secret Message is:<i class="material-icons right">close</i></span>
		      <p class="flow-text" >{{ message }}</p>
		    </div>
		</div>
	</div>
</body>
{% endblock %}
